{% extends "bootstrap/base.html" %}
{% block title %}Hearing aid traning app{% endblock %}
{% block content %}

    <div class="container-fluid">
    <a href="/logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i></a>
    </div>

    <div class="container-fluid">
        <h1>List of levels</h1><br/>
        <div class="alert alert-info">Select a hardness level</div><br/>
        <table id="for-chart" class="table-striped" style="width: 100%;">
        PUT BUTTONS HERE
        </td></tr>
        </table>
    </div>
{% endblock %}

