{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signup" method="POST" action="/signup">
        <h2 class="form-signup-heading">Please sign up</h2>
        {{ form.hidden_tag() }}{{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.password2) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      <br/>
        <a class="btn btn-lg btn-primary btn-block" href="/login">Have an account?</a>

    </div> <!-- /container -->
{% endblock %}